In [2]:
print("CLICK ARROW ICON TO RUN CODE IN CELL!")

CLICK ARROW ICON TO RUN CODE IN CELL!

In [3]:
print("HOLD SHIFT + ENTER TO RUN CODE IN CELL!")

HOLD SHIFT + ENTER TO RUN CODE IN CELL!

In [4]:
print("HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!")
print("HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!")
print("HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!")
print("HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!")
print("HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!")
print("HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!")

HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!
HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!
HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!
HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!
HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!
HOLD CTRL + ALT + UP/DOWN ARROW FOR MULTI CURSOR!

In [14]:
var = 2
print(2+var)
print(2-var)
print(2*var)
print(4/var)
print(4//var)
print(4%var)
print(4**var)
var2 = 2.3
int_var2 = int(var2)

4
0
4
2.0
2
0
16

In [1]:
green = "Hello World!"
len(green)

12

In [5]:
cat = "meow" ; dog ="woof" ; parrot = 'hello'
print(cat, dog, parrot, sep = ", ", end = "!!")

meow, woof, hello!!

In [7]:
lang = "C++"
"This is a cool " + lang + " course!"

'This is a cool C++ course!'

In [8]:
num = 100
"lecture " + str(num) + " is on string!"

'lecture 100 is on string!'

In [13]:
"20" + "50"
type(eval)

type(eval("45.3"))

eval("20") + eval("50")
eval("20 * 20")

400

In [17]:
check="a a a a b b b c c c B b"
check.count("B")

1

In [30]:
messy = """\\PLEASE #@CLEAN UP-- #@THIS MESSY #@DOCSTRING
WICH --CAN HAVE \\MULTIPLE\\ LINES\\
OF STRING--"""
print(messy)
messy.replace("\\","").replace("#@","").replace("\n", " ").replace("--","").lower().capitalize()

\PLEASE #@CLEAN UP-- #@THIS MESSY #@DOCSTRING
WICH --CAN HAVE \MULTIPLE\ LINES\
OF STRING--

'Please clean up this messy docstring wich can have multiple lines of string'

In [31]:
pet = "cat"
pet[0]

'c'

In [1]:
robot="technologically"
consoles = "ps4 is cooler than xbox!"
code="p1y2t3h4o5n6i7c8"
words = "I saw a cat jump over the moon and into the clouds"
new_words = "I saw a cow flu over the gates and into the forest"
paid = "I received a total of $5000"

In [4]:
len(robot)
robot

'technologically'

In [8]:
robot[0:6]

'techno'

In [14]:
robot[6:]

'logically'

In [15]:
robot[6:13]

'logical'

In [17]:
robot[10:14]

'call'

In [18]:
consoles.endswith("!")

'ps4 is cooler than xbox!'

In [20]:
consoles[7:13]

'cooler'

In [22]:
consoles[-17:-11]

'cooler'

In [23]:
code

'p1y2t3h4o5n6i7c8'

In [25]:
code[0::2].capitalize()

'Pythonic'

In [29]:
code[1::2]#Revese[::-1]

'12345678'

In [32]:
var = words.split()
var

['I',
 'saw',
 'a',
 'cat',
 'jump',
 'over',
 'the',
 'moon',
 'and',
 'into',
 'the',
 'clouds']

In [39]:
len(var)
var[3:12:2]

['cat', 'over', 'moon', 'into', 'clouds']

In [40]:
s1 = slice(3, 12, 2)
new_words.split()[s1]

['cow', 'over', 'gates', 'into', 'forest']

In [41]:
var[s1]

['cat', 'over', 'moon', 'into', 'clouds']

In [44]:
"cat" in var and "cow" not in new_words.split()

False

In [43]:
" ".join(var)

'I saw a cat jump over the moon and into the clouds'

In [47]:
paid.split("$")[1]

'5000'

In [51]:
name = "Michael" ; grade = "A+"
"The student's name is {} and the grade is {}".format(name, grade)

"The student's name is Michael and the grade is A+"